*.py[cod]
*.swp
allure
output
.idea
.pytest_cache
case/.pytest_cache
venv/*
test_suits.yaml
#test.py
util/kafka_debug
**/*.pyc
config/*.ini
Pipfile*
develop-eggs/*
eggs/*
.coverage
.installed.cfg
bin/*
build/*
coverage.xml*
*egg-info/*
dist/*
gen-py/*
python_env/*